@model Airport.Models.Flight
@{
    Layout = null;
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Add or Edit Data</h4>
</div>
<form onsubmit="return SubmitAddEdit(this)">
    <div class="box-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="FligthID" />
        <div class="form-group">
            <label asp-for="DepartureDate"   class="control-label"></label>
            <input asp-for="DepartureDate"  class="form-control" />
            <span asp-validation-for="DepartureDate"  class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DestinationDate" class="control-label"></label>
            <input asp-for="DestinationDate"  class="form-control" />
            <span asp-validation-for="DestinationDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PriceFlight" class="control-label"></label>
            <input asp-for="PriceFlight" class="form-control" />
            <span asp-validation-for="PriceFlight" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="AirplaneID" class="control-label"></label>
            <input asp-for="AirplaneID" type="hidden"  />
            <select asp-for="AirplaneID" class="form-control select2 select2-hidden-accessible">
                @foreach (var airplane in ViewBag.Airplanes)
                {
                    <option value="@airplane.AirplaneID">@airplane.AirplaneType</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label asp-for="AirportFromAirportID" class="control-label"></label>
            <input asp-for="AirportFromAirportID" type="hidden" />
            <select asp-for="AirportFromAirportID" class="form-control select2 select2-hidden-accessible">
                @foreach (var airport in ViewBag.Airports)
                {
                    <option value="@airport.AirportID">@airport.AirportName (@airport.CountryName, @airport.CityName)</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label asp-for="AirportToAirportID" class="control-label"></label>
            <input asp-for="AirportToAirportID" type="hidden" />
            <select asp-for="AirportToAirportID" class="form-control select2 select2-hidden-accessible">
                @foreach (var airport in ViewBag.Airports)
                {
                    <option value="@airport.AirportID">@airport.AirportName (@airport.CountryName, @airport.CityName)</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label asp-for="TimeTableID" class="control-label"></label>
            <input asp-for="TimeTableID" type="hidden" id="airportfromid" />
            <select asp-for="TimeTableID" class="form-control select2 select2-hidden-accessible">
                @foreach (var timeTable in ViewBag.TimeTables)
                {
                    <option value="@timeTable.TimeTableID">Flight time @timeTable.FlightTime
                        M @timeTable.MondayTimeTable;
                        Tue @timeTable.TuesdayTimeTable;
                        W @timeTable.WednesdayTimeTable;
                        Thu @timeTable.ThursdayTimeTable;
                        F @timeTable.FridayTimeTable;
                        Sun @timeTable.SaturdayTimeTable;
                        Sat @timeTable.SundayTimeTable
                    </option>
                }
            </select>
        </div>
    </div>

    <div class="box-footer">
        <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-save"></i> Submit</button>
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
    </div>
</form>
<script>
    Ladda.bind('.btn', { timeout: 1000 });
</script>



